.authentication-container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}

@media screen and (max-width: 766px) {
    .authentication-container {
        display: block;
        margin: 30px auto;
        .sign-up-container {
            display: block;
            margin: 30px auto;
        }
    }
}